* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* margin: 0; */
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #333;
}
.container {
  /* max-width: 80px;
   */
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
header {
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  /* display: inline; */
  margin-right: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: bold;
}
.hero {
  background-color: #fff;
  /* border-image: url(); */
  block-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 50px 0;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.button a {
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

.buttons a.secondary {
  background-color: #f8f8f8;
  color: #333;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn-secondary {
  background-color: #f8f8f8;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.client{
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}
.client-logo {
  display: flex;
  justify-content: space-center;
  align-items: center;
  margin-top: 20px 0;
}
.client-logo img {
  width: 100px;
  margin: 0 20px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
